/*
!.Xdefaults
!.conkyrc
!.ctags
!.de-dvorak.xmodmap
!.de-standard.xmodmap
!.gitignore
!.gitmodules
!.gvimrc
!.ncmpcpp/config
!.no_capslock
!.screenrc
!.vim
!.vim_plugins
!.vimperatorrc
!.vimrc
!.zshrc
.vim/.VimballRecord
.vim/doc/tags*
.vim/spell
.vim/tags
