snippet it "italic font" w
\textit{${1:text}}
endsnippet

snippet bf "bold font" w
\textbf{${1:text}}
endsnippet

snippet tt "monospace font" w
\texttt{${1:text}}
endsnippet

snippet v "\vref{}" i
\vref{$1}
endsnippet

snippet "lst(inline)?" "\lstinline{}" wr
\lstinline{$1}
endsnippet
