Config { font = "xft:PragmataPro:size=11"
       , additionalFonts = []
       , borderColor = "black"
       , border = TopB
       , bgColor = "black"
       , fgColor = "#aaaaaa"
       , alpha = 255
       , position = Top
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "/home/kongo/.xmonad/icons/xbm"
       , allDesktops = True
       , overrideRedirect = True
       , commands = [ Run Cpu ["-L","3","-H","50","-n","green","-h","red","-t","<total>"] 20
                    , Run Memory ["-t","<usedratio>"] 100
                    , Run Network "br0" ["-t","<icon=net_down_03.xbm/> <rx> <icon=net_up_03.xbm/> <tx>"] 20
                    , Run MPD ["-b"," ","-f","─","-t","<artist> - <title> <fc=#555555>≪<bar>≫</fc>"] 50
                    , Run DiskU [("/","<fc=#ff6600>root</fc> <usedp> "),("/home","<fc=#ff6600>home</fc> <usedp> ")] [] 600
                    , Run Date "%#A %_d %#B %Y  <fc=#ff6600>|</fc>  %H:%M" "date" 600
                    , Run UnsafeStdinReader
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "%UnsafeStdinReader%}<fc=#ff6600><icon=note.xbm/></fc> %mpd%{<fc=#ff6600>cpu</fc> %cpu%  <fc=#ff6600>mem</fc> %memory%  %disku% <fc=#ff6600>net</fc> %br0%  <fc=#ff6600>|</fc>  %date%"
       }
